.centered{
    float: none;
    margin: 0 auto;
}

.navbar{
    z-index: 999;
    background-color:#FFFFFF;
}
.navbar-right{
    margin-top:0px;
}
.navbar-nav{
    padding-top:0px;
}

#nametag {
    text-transform:capitalize;
    font-variant:small-caps;
    font-weight:bold;
    font-size:26px;
    letter-spacing: 2px;
    text-align: center;
    display: block;
    padding: 10px 15px;
}
#headshot img {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(34,34,34,0.6);
}

.profile {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#footer {
    margin: 0px auto;
    padding-bottom: 0px;
    width: 850px;
    position: relative; /* so social list can be positioned relative to the footer*/
    text-align: center;
    z-index:998;
}
#horizontal-list{
    list-style-position: inside;
    padding-left:0;
}
.footer-social {
    text-align: center;
    background-color:#FFFFFF;
    padding-bottom: 5px;
    padding-top: 20px;
}
.footer-social li {
    display: inline;
    margin-right: 7px;
}
li:last-child{
    margin-right: 0px;
}
.footer-info {
    text-align: center;
}
.footer-info li {
    display: inline;
}