.body {
    background-color: #000000;
}

.centered{
    float: none;
    margin: 0 auto;
}

#headshot img {
    width: 100%;
    box-shadow: 0px 0px 20px rgba(34,34,34,0.6);
}

.profile {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#footer {
    margin: 0px auto;
    padding-bottom: 60px;
    width: 850px;
    background: #444;
    position: relative; /* so social list can be positioned relative to the footer*/
    text-align: center;
}
#horizontal-list{
    list-style-position: inside;
    padding-left:0;
}
.footer-social {
    text-align: center;
}
.footer-social li {
    display: inline;
    margin-right: 7px;
}
li:last-child{
    margin-right: 0px;
}
.footer-info {
    text-align: center;
}
.footer-info li {
    display: inline;
}