body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 0.9em;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 1.5em;
	line-height: 1.5;
}
h3 {
	font-size: 1em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	background: $header;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	padding: 50px;
	max-width: $content-width;
	margin: 0 auto;
}
article {
	display: inline-block
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}
.subcaption {
	font-size: 0.75em;
	line-height: 1.2;
	margin: auto;
	text-align: center;
}
.title {
	font-size: 1.1em;
}
/* Navbar */
nav {
	display: inline;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid lighten($light, 30%);
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .4);
	max-height: 50px;
	.title {
		line-height: 20px;
		float: left;
		margin-left: 10px;
		max-width: 150px;
		padding: 15px;
	}
	.links {
		float: right;
		max-width: 800px;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: $font-style;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
/* Summaries */
summary {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.75;
	outline: none;
	font-size: 1.1em;
}
.fulltext {
	margin-left: 30px;
	p {
		padding: 0px 10px;
	}
}
/* Profile */
.profile {
	float: left;
	max-width: 150px;
	padding-top: 25px;
}
/* Gap Column */
.column {
	float: left;
	min-width: 25px;
}
/* Main Text */
.main-info {
	min-width: 200px;
	overflow: hidden;
}

/* Switch Layout for Smaller Screens */
@media (max-width : 475px){
	.profile {
		display: block;
		margin: auto;
		float: none;
	}
	.column {
		display: none;
	}
	.main-info {
		float: left;
	}
}
